# https://pre-commit.com/
# https://github.com/python/black#version-control-integration
repos:
  - repo: https://github.com/python/black
    rev: stable
    hooks:
      - id: black
        language_version: python3.7
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.730  # Must match ci/requirements/*.yml
    hooks:
      - id: mypy
  # run these occasionally, ref discussion https://github.com/pydata/xarray/pull/3194
  # - repo: https://github.com/asottile/pyupgrade
  #   rev: v1.22.1
  #   hooks:
  #     - id: pyupgrade
  #       args:
  #         - "--py3-only"
  #         # remove on f-strings in Py3.7
  #         - "--keep-percent-format"
  # - repo: https://github.com/timothycrosley/isort
  #   rev: 4.3.21-2
  #   hooks:
  #     - id: isort
