# https://pre-commit.com/
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: debug-statements
      - id: mixed-line-ending
    # This wants to go before isort & flake8
  - repo: https://github.com/PyCQA/autoflake
    rev: "v1.7.1"
    hooks:
      - id: autoflake # isort should run before black as black sometimes tweaks the isort output
        args: ["--in-place", "--ignore-init-module-imports"]
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.0.0
    hooks:
      - id: pyupgrade
        args:
          - "--py38-plus"
  # https://github.com/python/black#version-control-integration
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
      - id: black-jupyter
  - repo: https://github.com/keewis/blackdoc
    rev: v0.3.7
    hooks:
      - id: blackdoc
        exclude: "generate_reductions.py"
        additional_dependencies: ["black==22.10.0"]
      - id: blackdoc-autoupdate-black
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
  # - repo: https://github.com/Carreau/velin
  #   rev: 0.0.8
  #   hooks:
  #     - id: velin
  #       args: ["--write", "--compact"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.982
    hooks:
      - id: mypy
        # Copied from setup.cfg
        exclude: "properties|asv_bench"
        # This is slow and so we take it out of the fast-path; requires passing
        # `--hook-stage manual` to pre-commit
        stages: [manual]
        additional_dependencies: [
            # Type stubs
            types-python-dateutil,
            types-pkg_resources,
            types-PyYAML,
            types-pytz,
            typing-extensions==3.10.0.0,
            numpy,
          ]
  - repo: https://github.com/citation-file-format/cff-converter-python
    rev: ebf0b5e44d67f8beaa1cd13a0d0393ea04c6058d
    hooks:
    - id: validate-cff
