# Based on http://conda.pydata.org/docs/travis.html
language: python
sudo: false # use container based build
notifications:
  email: false

matrix:
  fast_finish: true
  include:
  - python: 2.6
    env: UPDATE_ENV="conda install unittest2 pandas==0.15.0 h5py cython matplotlib && pip install h5netcdf"
  # Test on Python 2.7 with and without netCDF4/scipy/cdat-lite
  - python: 2.7
    env: UPDATE_ENV="conda install -c scitools cdat-lite h5py cython matplotlib && pip install cyordereddict h5netcdf"
  - python: 2.7
    # nb. we have to remove scipy because conda install pandas brings it in:
    # https://github.com/ContinuumIO/anaconda-issues/issues/145
    env: UPDATE_ENV="conda remove scipy netCDF4 && conda install dask"
  - python: 3.3
    env: UPDATE_ENV="conda remove netCDF4"
  - python: 3.4
    env: UPDATE_ENV="conda install -c pandas bottleneck h5py cython dask matplotlib seaborn && pip install cyordereddict h5netcdf"
  # don't require pydap tests to pass because the dap test server is unreliable
  - python: 2.7
    env: UPDATE_ENV="pip install pydap"
  # test netCDF4-python master
  - python: 2.7
    addons:
      apt_packages:
        - libhdf5-serial-dev
        - netcdf-bin
        - libnetcdf-dev
    env: UPDATE_ENV="conda install cython && pip install https://github.com/Unidata/netcdf4-python/archive/master.zip"
  - python: 2.7
    env: UPDATE_ENV="pip install toolz https://github.com/blaze/dask/archive/master.zip"
  - python: 2.7
    env: UPDATE_ENV="conda remove pandas && conda install cython && pip install https://github.com/pydata/pandas/archive/master.zip"
  allow_failures:
  - python: 2.7
    env: UPDATE_ENV="pip install pydap"
  - python: 2.7
    addons:
      apt_packages:
        - libhdf5-serial-dev
        - netcdf-bin
        - libnetcdf-dev
    env: UPDATE_ENV="conda install cython && pip install https://github.com/Unidata/netcdf4-python/archive/master.zip"
  - python: 2.7
    env: UPDATE_ENV="pip install toolz https://github.com/blaze/dask/archive/master.zip"
  - python: 2.7
    env: UPDATE_ENV="conda remove pandas && conda install cython && pip install https://github.com/pydata/pandas/archive/master.zip"

before_install:
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget http://repo.continuum.io/miniconda/Miniconda-3.7.3-Linux-x86_64.sh -O miniconda.sh;
    else
      wget http://repo.continuum.io/miniconda/Miniconda3-3.7.3-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a

install:
  - conda create --yes -n test_env python=$TRAVIS_PYTHON_VERSION pip nose numpy pandas scipy netCDF4
  - source activate test_env
  - echo $UPDATE_ENV; eval $UPDATE_ENV
  - pip install coveralls
  - python setup.py install

script:
  - nosetests --with-coverage --cover-package xray

after_success:
  - coveralls
