# Based on http://conda.pydata.org/docs/travis.html
language: python
sudo: false # use container based build
notifications:
  email: false

matrix:
  fast_finish: true
  include:
  - python: 2.6
    env: CONDA_ENV=py26
  - python: 2.7
    env: CONDA_ENV=py27-min
  - python: 2.7
    env: CONDA_ENV=py27-cdat+pynio
  - python: 3.4
    env: CONDA_ENV=py34
  - python: 3.5
    env: CONDA_ENV=py35
  - python: 2.7
    env: CONDA_ENV=py27-pydap
  - python: 3.5
    env: CONDA_ENV=py27-netcdf4-dev
    addons:
      apt_packages:
        - libhdf5-serial-dev
        - netcdf-bin
        - libnetcdf-dev
  - python: 3.5
    env: CONDA_ENV=py35-dask-dev
  - python: 3.5
    env: CONDA_ENV=py35-pandas-dev
  allow_failures:
  - python: 2.7
    env: CONDA_ENV=py27-pydap
  - python: 3.5
    env: CONDA_ENV=py27-netcdf4-dev
    addons:
      apt_packages:
        - libhdf5-serial-dev
        - netcdf-bin
        - libnetcdf-dev
  - python: 3.5
    env: CONDA_ENV=py35-dask-dev
  - python: 3.5
    env: CONDA_ENV=py35-pandas-dev

before_install:
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget http://repo.continuum.io/miniconda/Miniconda-3.16.0-Linux-x86_64.sh -O miniconda.sh;
    else
      wget http://repo.continuum.io/miniconda/Miniconda3-3.16.0-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a

install:
  - conda env create --file ci/requirements-$CONDA_ENV.yml
  - source activate test_env
  - python setup.py install

script:
  - py.test xarray --cov=xarray --cov-report term-missing

after_success:
  - coveralls
