variables:
  pytest_extra_flags: ''
  allow_failure: false
  upstream_dev: false

jobs:

- job: Linux
  strategy:
    matrix:
      py36-bare-minimum:
        conda_env: py36-bare-minimum
      py36-min-all-deps:
        conda_env: py36-min-all-deps
      py36-min-nep18:
        conda_env: py36-min-nep18
      py36:
        conda_env: py36
      py37:
        conda_env: py37
      py37-upstream-dev:
        conda_env: py37
        upstream_dev: true
      py36-flaky:
        conda_env: py36
        pytest_extra_flags: --run-flaky --run-network-tests
        allow_failure: true
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - template: ci/azure/unit-tests.yml

- job: MacOSX
  strategy:
    matrix:
      py36:
        conda_env: py36
  pool:
    vmImage: 'macOS-10.13'
  steps:
  - template: ci/azure/unit-tests.yml

- job: Windows
  strategy:
    matrix:
      py37:
        conda_env: py37-windows
  pool:
    vmImage: 'vs2017-win2016'
  steps:
  - template: ci/azure/unit-tests.yml

- job: LintFlake8
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - task: UsePythonVersion@0
  - bash: python -m pip install flake8
    displayName: Install flake8
  - bash: flake8
    displayName: flake8 lint checks

- job: FormattingBlack
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - task: UsePythonVersion@0
  - bash: python -m pip install black
    displayName: Install black
  - bash: black --check .
    displayName: black formatting check

- job: TypeChecking
  variables:
    conda_env: py37
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - template: ci/azure/install.yml
  - bash: |
      source activate xarray-tests
      mypy .
    displayName: mypy type checks

- job: MinimumVersionsPolicy
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - template: ci/azure/add-conda-to-path.yml
  - bash: |
      conda install -y pyyaml
      python ci/min_deps_check.py ci/requirements/py36-bare-minimum.yml
      python ci/min_deps_check.py ci/requirements/py36-min-all-deps.yml
    displayName: minimum versions policy

- job: Docs
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - template: ci/azure/install.yml
    parameters:
      env_file: ci/requirements/doc.yml
  - bash: |
      source activate xarray-tests
      # Replicate the exact environment created by the readthedocs CI
      conda install --yes --quiet -c pkgs/main mock pillow sphinx sphinx_rtd_theme
    displayName: Replicate readthedocs CI environment
  - bash: |
      source activate xarray-tests
      cd doc
      sphinx-build -n -j auto -b html -d _build/doctrees . _build/html
    displayName: Build HTML docs
