[workspace]
preview = ["pixi-build"]
channels = ["conda-forge", "nodefaults"]
platforms = ["win-64", "linux-64", "osx-arm64", "osx-64"]

[package]
name = "xarray"
version = "9999.0.0" # dynamic versioning needs better support in pixi https://github.com/prefix-dev/pixi/issues/2923#issuecomment-2598460666 . Putting `version = "..."` here for now until pixi recommends something else.

[package.build]
backend = { name = "pixi-build-python", version = ">=0.4.4" }

[package.host-dependencies]
setuptools = "*"
setuptools_scm = "*"

[package.run-dependencies]
python = "*"
numpy = "*"
pandas = "*"

packaging = "24.1.*"
git = "*"            # needed for dynamic versioning

[dependencies]
xarray = { path = "." }

[target.linux-64.dependencies]
pydap-server = "*"

[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.py313.dependencies]
python = "3.13.*"

[feature.backends.dependencies]
# files
h5netcdf = "*"
h5py = "*"
hdf5 = "*"
netcdf4 = "*"
zarr = "*"
rasterio = "*"

# opendap
pydap = "*"
lxml = "*"  # Optional dep of pydap

# s3
boto3 = "*"
fsspec = "*"
aiobotocore = "*"

[feature.numba.dependencies]
numba = "*"
numbagg = "*"

[feature.dask.dependencies]
dask = "*"
distributed = "*"

[feature.accel.dependencies]
flox = "*"
bottleneck = "*"
numexpr = "*"
pyarrow = "*"
opt_einsum = "*"

[feature.viz.dependencies]
cartopy = "*"
matplotlib-base = "*"
nc-time-axis = "*"
seaborn = "*"

[feature.extras.dependencies]
# array
sparse = "*"
pint = "*"
array-api-strict = "*"

# algorithms
scipy = "*"
toolz = "*"

# tutorial
pooch = "*"

# calendar
cftime = "*"

# other
iris = "*"

[feature.extras.pypi-dependencies]
# array
jax = "*" # no way to get cpu-only jaxlib from conda if gpu is present

[feature.minimal.dependencies]
# minimal versions
python = "3.11.*"
numpy = "1.26.*"
pandas = "2.2.*"

[feature.minimum-scipy.dependencies]
scipy = "1.13.*"

[feature.min-versions.dependencies]
array-api-strict = "2.4.*" # dependency for testing the array api compat
boto3 = "1.34.*"
bottleneck = "1.4.*"
cartopy = "0.23.*"
cftime = "1.6.*"
dask-core = "2024.6.*"
distributed = "2024.6.*"
flox = "0.9.*"
# h5netcdf 1.8.0 introduced a few compatibility features with netcdf4
# https://github.com/pydata/xarray/issues/10657#issuecomment-3711095986
h5netcdf = "1.8.*"
# h5py and hdf5 tend to cause conflicts
# for e.g. hdf5 1.12 conflicts with h5py=3.1
# prioritize bumping other packages instead
h5py = "3.11.*"
hdf5 = "1.14.*"
iris = "3.9.*"
lxml = "5.1.*"            # Optional dep of pydap
matplotlib-base = "3.8.*"
nc-time-axis = "1.4.*"
# netcdf follows a 1.major.minor[.patch] convention
# (see https://github.com/Unidata/netcdf4-python/issues/1090)
netcdf4 = "1.6.*"
numba = "0.60.*"
numbagg = "0.8.*"
packaging = "24.1.*"
pint = "0.24.*"
pydap = "3.5.*"
rasterio = "1.3.*"
seaborn = "0.13.*"
sparse = "0.15.*"
toolz = "0.12.*"
zarr = "2.18.*"

# TODO: Remove `target.unix` restriction once pandas nightly has win-64 wheels again.
# Without this, `pixi lock` fails because it can't solve the nightly feature for win-64,
# which breaks RTD builds (RTD has no lock file cache, unlike GitHub Actions CI).
[feature.nightly.target.unix.dependencies]
python = "*"

[feature.nightly.pypi-options.dependency-overrides]
numpy = { version = "*", index = "https://pypi.anaconda.org/scientific-python-nightly-wheels/simple" }
scipy = { version = "*", index = "https://pypi.anaconda.org/scientific-python-nightly-wheels/simple" }
matplotlib = { version = "*", index = "https://pypi.anaconda.org/scientific-python-nightly-wheels/simple" }
pandas = { version = "*", index = "https://pypi.anaconda.org/scientific-python-nightly-wheels/simple" }
pyarrow = { version = "*", index = "https://pypi.anaconda.org/scientific-python-nightly-wheels/simple" }

dask = { git = "https://github.com/dask/dask" }
distributed = { git = "https://github.com/dask/distributed" }
zarr = { git = "https://github.com/zarr-developers/zarr-python" }
numcodecs = { git = "https://github.com/zarr-developers/numcodecs" }
cftime = { git = "https://github.com/Unidata/cftime" }
# packaging = { git = "https://github.com/pypa/packaging"} #? Pixi warns if this is enabled
pint = { git = "https://github.com/hgrecco/pint" }
bottleneck = { git = "https://github.com/pydata/bottleneck" }
fsspec = { git = "https://github.com/intake/filesystem_spec" }
nc-time-axis = { git = "https://github.com/SciTools/nc-time-axis" }
flox = { git = "https://github.com/xarray-contrib/flox" }
h5netcdf = { git = "https://github.com/h5netcdf/h5netcdf" }
opt_einsum = { git = "https://github.com/dgasmith/opt_einsum" }
# sparse = { git = "https://github.com/pydata/sparse"}

[feature.nightly.target.unix.pypi-dependencies]
xarray = { path = ".", editable = true }

numpy = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
pyarrow = "*"

dask = "*"
distributed = "*"
zarr = "*"
numcodecs = "*"
cftime = "*"
packaging = "*"
pint = "*"
bottleneck = "*"
fsspec = "*"
nc-time-axis = "*"
flox = "*"
# h5netcdf = "*"
# h5py = "*"
opt_einsum = "*"
netcdf4 = "*"
scitools-iris = "*"
pydap = "*"
cartopy = "*"
seaborn = "*"

[feature.test.dependencies]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-env = "*"
pytest-mypy-plugins = "*"
pytest-reportlog = "*"
pytest-timeout = "*"
pytest-xdist = "*"
pytz = "*"
hypothesis = "*"
coveralls = "*"

[feature.test.tasks]
test = { cmd = "pytest", description = "Run the test suite with pytest." }

[feature.doc.dependencies]
kerchunk = "*"
ipykernel = "*"
ipywidgets = "*"                   # silence nbsphinx warning
ipython = "*"
jupyter_client = "*"
jupyter_sphinx = "*"
nbsphinx = "*"
ncdata = "*"
pydata-sphinx-theme = "*"
pyproj = "*"
rich = "*"                         # for Zarr tree()
setuptools = "*"
sphinx-autosummary-accessors = "*"
sphinx-copybutton = "*"
sphinx-design = "*"
sphinx-inline-tabs = "*"
sphinx-llm = ">=0.2.1"
sphinx = ">=6,<8"
sphinxcontrib-mermaid = "*"
sphinxcontrib-srclinks = "*"
sphinx-remove-toctrees = "*"
sphinxext-opengraph = "*"
sphinxext-rediraffe = "*"
cfgrib = "*"
myst-parser = "*"

[feature.doc.tasks]
doc = { cmd = "make html", cwd = "doc", description = "Build the HTML documentation." }
doc-clean = { cmd = "make clean && make html", cwd = "doc", description = "Clean build artifacts and rebuild the HTML documentation from scratch." }
linkcheck = { cmd = "make linkcheck", cwd = "doc", description = "Check URLs in documentation." }


[feature.typing.dependencies]
mypy = "==1.18.1"
pyright = "*"
hypothesis = "*"
lxml = "*"
pandas-stubs = "<=2.3.3.251219"
types-colorama = "*"
types-docutils = "*"
types-psutil = "*"
types-Pygments = "*"
types-python-dateutil = "*"
types-pytz = "*"
types-PyYAML = "*"
types-requests = "*"
types-setuptools = "*"
types-openpyxl = "*"
typing_extensions = "*"
pip = "*"

[feature.typing.pypi-dependencies]
types-defusedxml = "*"
types-pexpect = "*"

[feature.typing.tasks]
mypy = { cmd = "mypy --install-types --non-interactive --cobertura-xml-report mypy_report", description = "Run mypy type checking and generate a Cobertura XML report." }

[feature.pre-commit.dependencies]
pre-commit = "*"

[feature.pre-commit.tasks]
pre-commit = { cmd = "pre-commit", description = "Run pre-commit hooks and linters." }

[feature.release.dependencies]
gitpython = "*"
cytoolz = "*"

[feature.release.tasks]
release-contributors = { cmd = "python ci/release_contributors.py", description = "Generate a list of contributors for a release." }

[feature.dev.dependencies]
ipython = ">=9.8.0,<10"
black = ">=25.1.0,<26"

[feature.dev.pypi-dependencies]
pytest-accept = ">=0.2.2, <0.3"

[feature.policy.pypi-dependencies]
xarray-minimum-dependency-policy = "*"

[feature.policy.dependencies]
python = "3.13.*"

[feature.policy.tasks._check-policy]
cmd = "minimum-versions validate --policy ci/policy.yaml --manifest-path pixi.toml {{ env }}"
args = ["env"]

[feature.policy.tasks]
policy-bare-minimum = [
  { task = "_check-policy", args = [
    "pixi:test-py311-bare-minimum",
  ] },
]
policy-bare-min-and-scipy = [
  { task = "_check-policy", args = [
    "pixi:test-py311-bare-min-and-scipy",
  ] },
]
policy-min-versions = [
  { task = "_check-policy", args = [
    "pixi:test-py311-min-versions",
  ] },
]
[feature.policy.tasks.policy]

depends-on = [
  { task = "_check-policy", args = [
    """\
    pixi:test-py311-bare-minimum \
    pixi:test-py311-bare-min-and-scipy \
    pixi:test-py311-min-versions \
    """,
  ] },
]
description = "Check all minimum version test environments match Xarray's version policy."

[feature.tools.dependencies]
python = "3.13.*"

[feature.tools.pypi-dependencies]
rst-to-myst = { version = "*", extras = ["sphinx"] }

[feature.tools.tasks]
rst2myst = { cmd = "rst2myst", description = "Convert rst to myst markdown" }

[environments]
# Testing
# test-just-xarray = { features = ["test"] } # https://github.com/pydata/xarray/pull/10888/files#r2511336147
test-py313-no-numba = { features = [
  "py313",
  "test",
  "backends",
  "accel",
  "dask",
  "viz",
  "extras",
] }
test-py313-no-dask = { features = [
  "py312",
  "test",
  "backends",
  "accel",
  "numba",
  "viz",
  "extras",
] }
test-py313 = { features = [
  "py313",
  "test",
  "backends",
  "accel",
  "numba",
  "dask",
  "viz",
  "extras",
] }
test-nightly = { features = [
  "py313",
  "nightly",
  "test",
  # "typing",
], no-default-feature = true }


test-py311 = { features = [
  "py311",
  "test",
  "backends",
  "accel",
  "numba",
  "dask",
  "viz",
  "extras",
] }

test-py311-with-typing = { features = [
  "py311",
  "test",
  "backends",
  "accel",
  "numba",
  "dask",
  "viz",
  "extras",
  "typing",
] }

test-py313-with-typing = { features = [
  "py313",
  "test",
  "backends",
  "accel",
  "numba",
  "dask",
  "viz",
  "extras",
  "typing",
] }

test-py311-bare-minimum = { features = ["test", "minimal"] }
test-py311-bare-min-and-scipy = { features = [
  "test",
  "minimal",
  "minimum-scipy",
] }
test-py311-min-versions = { features = [
  "test",
  "minimal",
  "minimum-scipy",
  "min-versions",
] }


# Extra
typing = { features = ["typing"] }
doc = { features = [
  "doc",
  "backends",
  "test",
  "accel",
  "viz",
  "extras",
] }
pre-commit = { features = ["pre-commit"], no-default-feature = true }
release = { features = ["release"], no-default-feature = true }
default = { features = [
  "py313",
  "test",
  "backends",
  "accel",
  "numba",
  "dask",
  "viz",
  "extras",
  "dev",
] }
policy = { features = ["policy"], no-default-feature = true }
tools = { features = ["tools"], no-default-feature = true }
