name: xarray-tests
channels:
  - conda-forge
dependencies:
  - array-api-strict
  - boto3
  - bottleneck
  - cartopy
  - cftime
  - dask-core
  - distributed
  - flox
  - fsspec
  - h5netcdf
  - h5py
  - hdf5
  - hypothesis
  - iris
  - lxml # Optional dep of pydap
  - matplotlib-base
  - nc-time-axis
  - netcdf4
  # - numba
  # - numbagg
  - numpy
  - packaging
  - pandas
  - pandas-stubs<=2.2.3.241126 # https://github.com/pydata/xarray/issues/10110
  # - pint>=0.22
  - pip
  - pre-commit
  - pyarrow # importing dask.dataframe raises an ImportError without this
  - pydap
  - pytest
  - pytest-cov
  - pytest-env
  - pytest-mypy-plugins
  - pytest-timeout
  - pytest-xdist
  - rasterio
  - scipy
  - seaborn
  # - sparse
  - toolz
  - types-colorama
  - types-docutils
  - types-psutil
  - types-Pygments
  - types-python-dateutil
  - types-pytz
  - types-PyYAML
  - types-setuptools
  - typing_extensions
  - zarr
  - pip:
      - types-defusedxml
      - types-pexpect
