# pin to avoid https://github.com/sphinx-doc/sphinx/issues/1822
sphinx==1.2.3
# only the dependencies required to build xray's docs which are not already
# available in RTD's system site-packages
ipython==3.1.0
pandas==0.16.1
seaborn==0.6.0
python-dateutil
numpydoc==0.5
dask==0.5
# required for dask.array
toolz
