# only the dependencies required to build xray's docs which are not already
# available in RTD's system site-packages
ipython==2.2.0
matplotlib==1.4.0
pandas==0.14.1
seaborn==0.4
python-dateutil
numpydoc==0.5
