name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"

jobs:

  test:
    name: ${{ matrix.python-version }}-build
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
    steps:
      - uses: actions/checkout@v3

      - name: Create conda environment
        uses: mamba-org/provision-with-micromamba@main
        with:
          cache-downloads: true
          micromamba-version: 'latest'
          environment-file: ci/environment.yml
          extra-specs: |
            python=${{ matrix.python-version }}

      - name: Conda info
        run: conda info

      - name: Install datatree
        run: |
           python -m pip install -e . --no-deps --force-reinstall

      - name: Conda list
        run: conda list

      - name: Running Tests
        run: |
          python -m pytest --cov=./ --cov-report=xml --verbose

      - name: Upload code coverage to Codecov
        uses: codecov/codecov-action@v3.1.1
        with:
          file: ./coverage.xml
          flags: unittests
          env_vars: OS,PYTHON
          name: codecov-umbrella
          fail_ci_if_error: false


  test-upstream:
    name: ${{ matrix.python-version }}-dev-build
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
    steps:
      - uses: actions/checkout@v3

      - name: Create conda environment
        uses: mamba-org/provision-with-micromamba@main
        with:
          cache-downloads: true
          micromamba-version: 'latest'
          environment-file: ci/environment.yml
          extra-specs: |
            python=${{ matrix.python-version }}

      - name: Conda info
        run: conda info

      - name: Install dev reqs
        run: |
          python -m pip install --no-deps --upgrade \
            git+https://github.com/pydata/xarray \
            git+https://github.com/Unidata/netcdf4-python

          python -m pip install -e . --no-deps --force-reinstall

      - name: Conda list
        run: conda list

      - name: Running Tests
        run: |
          python -m pytest --verbose
