name: CI Additional
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
  workflow_dispatch: # allows you to trigger manually

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  detect-ci-trigger:
    name: detect ci trigger
    runs-on: ubuntu-latest
    if: |
      github.repository == 'pydata/xarray'
      && (github.event_name == 'push' || github.event_name == 'pull_request')
    outputs:
      triggered: ${{ steps.detect-trigger.outputs.trigger-found }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - uses: xarray-contrib/ci-trigger@v1
        id: detect-trigger
        with:
          keyword: "[skip-ci]"

  doctest:
    name: Doctests
    runs-on: "ubuntu-latest"
    needs: detect-ci-trigger
    if: needs.detect-ci-trigger.outputs.triggered == 'false'
    defaults:
      run:
        shell: bash -l {0}

    env:
      CONDA_ENV_FILE: ci/requirements/environment.yml
      PYTHON_VERSION: "3.10"

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.

      - name: set environment variables
        run: |
          echo "TODAY=$(date  +'%Y-%m-%d')" >> $GITHUB_ENV

      - name: Setup micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: ${{env.CONDA_ENV_FILE}}
          environment-name: xarray-tests
          create-args: >-
            python=${{env.PYTHON_VERSION}}
            conda
          cache-environment: true
          cache-environment-key: "${{runner.os}}-${{runner.arch}}-py${{env.PYTHON_VERSION}}-${{env.TODAY}}-${{hashFiles(env.CONDA_ENV_FILE)}}"

      - name: Install xarray
        run: |
          python -m pip install --no-deps -e .
      - name: Version info
        run: |
          conda info -a
          conda list
          python xarray/util/print_versions.py
      - name: Run doctests
        run: |
          # Raise an error if there are warnings in the doctests, with `-Werror`.
          # This is a trial; if it presents an problem, feel free to remove.
          # See https://github.com/pydata/xarray/issues/7164 for more info.
          python -m pytest --doctest-modules xarray --ignore xarray/tests -Werror

  mypy:
    name: Mypy
    runs-on: "ubuntu-latest"
    needs: detect-ci-trigger
    # temporarily skipping due to https://github.com/pydata/xarray/issues/6551
    if: needs.detect-ci-trigger.outputs.triggered == 'false'
    defaults:
      run:
        shell: bash -l {0}
    env:
      CONDA_ENV_FILE: ci/requirements/environment.yml
      PYTHON_VERSION: "3.10"

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.

      - name: set environment variables
        run: |
          echo "TODAY=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
      - name: Setup micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: ${{env.CONDA_ENV_FILE}}
          environment-name: xarray-tests
          create-args: >-
            python=${{env.PYTHON_VERSION}}
            conda
          cache-environment: true
          cache-environment-key: "${{runner.os}}-${{runner.arch}}-py${{env.PYTHON_VERSION}}-${{env.TODAY}}-${{hashFiles(env.CONDA_ENV_FILE)}}"
      - name: Install xarray
        run: |
          python -m pip install --no-deps -e .
      - name: Version info
        run: |
          conda info -a
          conda list
          python xarray/util/print_versions.py
      - name: Install mypy
        run: |
          python -m pip install mypy --force-reinstall

      - name: Run mypy
        run: |
          python -m mypy --install-types --non-interactive --cobertura-xml-report mypy_report

      - name: Upload mypy coverage to Codecov
        uses: codecov/codecov-action@v3.1.4
        with:
          file: mypy_report/cobertura.xml
          flags: mypy
          env_vars: PYTHON_VERSION
          name: codecov-umbrella
          fail_ci_if_error: false

  mypy39:
    name: Mypy 3.9
    runs-on: "ubuntu-latest"
    needs: detect-ci-trigger
    defaults:
      run:
        shell: bash -l {0}
    env:
      CONDA_ENV_FILE: ci/requirements/environment.yml
      PYTHON_VERSION: "3.9"

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.

      - name: set environment variables
        run: |
          echo "TODAY=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
      - name: Setup micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: ${{env.CONDA_ENV_FILE}}
          environment-name: xarray-tests
          create-args: >-
            python=${{env.PYTHON_VERSION}}
            conda
          cache-environment: true
          cache-environment-key: "${{runner.os}}-${{runner.arch}}-py${{env.PYTHON_VERSION}}-${{env.TODAY}}-${{hashFiles(env.CONDA_ENV_FILE)}}"
      - name: Install xarray
        run: |
          python -m pip install --no-deps -e .
      - name: Version info
        run: |
          conda info -a
          conda list
          python xarray/util/print_versions.py
      - name: Install mypy
        run: |
          python -m pip install mypy --force-reinstall

      - name: Run mypy
        run: |
          python -m mypy --install-types --non-interactive --cobertura-xml-report mypy_report

      - name: Upload mypy coverage to Codecov
        uses: codecov/codecov-action@v3.1.4
        with:
          file: mypy_report/cobertura.xml
          flags: mypy39
          env_vars: PYTHON_VERSION
          name: codecov-umbrella
          fail_ci_if_error: false



  min-version-policy:
    name: Minimum Version Policy
    runs-on: "ubuntu-latest"
    needs: detect-ci-trigger
    if: needs.detect-ci-trigger.outputs.triggered == 'false'
    defaults:
      run:
        shell: bash -l {0}

    strategy:
      matrix:
        environment-file: ["bare-minimum", "min-all-deps"]
      fail-fast: false

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.

      - name: Setup micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-name: xarray-tests
          create-args: >-
            python=3.10
            pyyaml
            conda
            python-dateutil

      - name: minimum versions policy
        run: |
          python ci/min_deps_check.py ci/requirements/${{ matrix.environment-file }}.yml
