name: CI Additional
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
  workflow_dispatch: # allows you to trigger manually

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 3
  PIXI_VERSION: "v0.63.1"

jobs:
  detect-ci-trigger:
    name: detect ci trigger
    runs-on: ubuntu-slim
    if: |
      github.repository == 'pydata/xarray'
      && (github.event_name == 'push' || github.event_name == 'pull_request')
      && !contains(github.event.pull_request.labels.*.name, 'skip-ci')
    outputs:
      triggered: ${{ steps.detect-trigger.outputs.trigger-found }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - uses: xarray-contrib/ci-trigger@v1
        id: detect-trigger
        with:
          keyword: "[skip-ci]"

  cache-pixi-lock:
    needs: detect-ci-trigger
    if: needs.detect-ci-trigger.outputs.triggered == 'false'
    runs-on: ubuntu-slim

    outputs:
      cache-key: ${{ steps.pixi-lock.outputs.cache-key }}
      pixi-version: ${{ steps.pixi-lock.outputs.pixi-version }}

    steps:
      - uses: actions/checkout@v6
      - uses: Parcels-code/pixi-lock/create-and-cache@9a2866f8258b87a3c616d5ad7d51c6cd853df78b
        id: pixi-lock
        with:
          pixi-version: ${{env.PIXI_VERSION}}
      - uses: actions/upload-artifact@v6
        with:
          name: pixi-lock
          path: pixi.lock

  doctest:
    name: Doctests
    runs-on: "ubuntu-latest"
    needs: cache-pixi-lock

    defaults:
      run:
        shell: bash -l {0}
    env:
      PIXI_ENV: "test-py313"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.

      - name: set environment variables
        run: |
          echo "TODAY=$(date  +'%Y-%m-%d')" >> $GITHUB_ENV

      - name: Restore cached pixi lockfile
        uses: Parcels-code/pixi-lock/restore@9a2866f8258b87a3c616d5ad7d51c6cd853df78b
        with:
          cache-key: ${{ needs.cache-pixi-lock.outputs.cache-key }}
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: ${{ needs.cache-pixi-lock.outputs.pixi-version }}
          cache: true
          environments: ${{ env.PIXI_ENV }}
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}

      - name: Version info
        run: |
          pixi run -e ${{env.PIXI_ENV}} -- python xarray/util/print_versions.py
      - name: Run doctests
        run: |
          # Raise an error if there are warnings in the doctests, with `-Werror`.
          # This is a trial; if it presents a problem, feel free to remove.
          # See https://github.com/pydata/xarray/issues/7164 for more info.
          #
          # If dependencies emit warnings we can't do anything about, add ignores to
          # `xarray/tests/__init__.py`.
          pixi run -e ${{env.PIXI_ENV}} -- python -m pytest --doctest-modules xarray --ignore xarray/tests -Werror

  mypy:
    name: Mypy
    runs-on: "ubuntu-latest"
    needs: cache-pixi-lock
    defaults:
      run:
        shell: bash -l {0}
    env:
      PIXI_ENV: test-py313-with-typing

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.
      - name: Restore cached pixi lockfile
        uses: Parcels-code/pixi-lock/restore@9a2866f8258b87a3c616d5ad7d51c6cd853df78b
        with:
          cache-key: ${{ needs.cache-pixi-lock.outputs.cache-key }}
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: ${{ needs.cache-pixi-lock.outputs.pixi-version }}
          cache: true
          environments: ${{ env.PIXI_ENV }}
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
      - name: set environment variables
        run: |
          echo "TODAY=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
          echo "PYTHON_VERSION=$(pixi run -e ${{env.PIXI_ENV}} -- python --version | cut -d' ' -f2 | cut -d. -f1,2)" >> $GITHUB_ENV
      - name: Version info
        run: |
          pixi run -e ${{env.PIXI_ENV}} -- python xarray/util/print_versions.py

      - name: Run mypy
        run: |
          pixi run -e ${{env.PIXI_ENV}} -- python -m mypy --install-types --non-interactive --cobertura-xml-report mypy_report

      - name: Upload mypy coverage to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          file: mypy_report/cobertura.xml
          flags: mypy
          env_vars: PYTHON_VERSION
          name: codecov-umbrella
          fail_ci_if_error: false

  mypy-min:
    name: Mypy 3.11
    runs-on: "ubuntu-latest"
    needs: cache-pixi-lock
    defaults:
      run:
        shell: bash -l {0}
    env:
      PIXI_ENV: test-py311-with-typing

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.
      - name: Restore cached pixi lockfile
        uses: Parcels-code/pixi-lock/restore@9a2866f8258b87a3c616d5ad7d51c6cd853df78b
        with:
          cache-key: ${{ needs.cache-pixi-lock.outputs.cache-key }}
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: ${{ needs.cache-pixi-lock.outputs.pixi-version }}
          cache: true
          environments: ${{ env.PIXI_ENV }}
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
      - name: set environment variables
        run: |
          echo "TODAY=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
          echo "PYTHON_VERSION=$(pixi run -e ${{env.PIXI_ENV}} -- python --version | cut -d' ' -f2 | cut -d. -f1,2)" >> $GITHUB_ENV
      - name: Version info
        run: |
          pixi run -e ${{env.PIXI_ENV}} -- python xarray/util/print_versions.py

      - name: Run mypy
        run: |
          pixi run -e ${{env.PIXI_ENV}} -- python -m mypy --install-types --non-interactive --cobertura-xml-report mypy_report

      - name: Upload mypy coverage to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          file: mypy_report/cobertura.xml
          flags: mypy-min
          env_vars: PYTHON_VERSION
          name: codecov-umbrella
          fail_ci_if_error: false

  pyright:
    name: Pyright | ${{ matrix.pixi-env }}"
    runs-on: "ubuntu-latest"
    needs: cache-pixi-lock
    strategy:
      fail-fast: false
      matrix:
        pixi-env: ["test-py313-with-typing", "test-py311-with-typing"]
    if: |
      always()
      && (
          contains( github.event.pull_request.labels.*.name, 'run-pyright')
      )
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.

      - name: Restore cached pixi lockfile
        uses: Parcels-code/pixi-lock/restore@9a2866f8258b87a3c616d5ad7d51c6cd853df78b
        with:
          cache-key: ${{ needs.cache-pixi-lock.outputs.cache-key }}
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: ${{ needs.cache-pixi-lock.outputs.pixi-version }}
          cache: true
          environments: ${{ matrix.pixi-env }}
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
      - name: set environment variables
        run: |
          echo "TODAY=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
          echo "PYTHON_VERSION=$(pixi run -e ${{ matrix.pixi-env }} -- python --version | cut -d' ' -f2 | cut -d. -f1,2)" >> $GITHUB_ENV
      - name: Version info
        run: |
          pixi run -e ${{ matrix.pixi-env }} -- python xarray/util/print_versions.py

      - name: Run pyright
        run: |
          pixi run -e ${{ matrix.pixi-env }} -- python -m pyright xarray/

      - name: Upload pyright coverage to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          file: pyright_report/cobertura.xml
          flags: pyright
          env_vars: PYTHON_VERSION
          name: codecov-umbrella
          fail_ci_if_error: false

  min-version-policy:
    name: Minimum Version Policy
    runs-on: "ubuntu-latest"
    needs: cache-pixi-lock

    defaults:
      run:
        shell: bash -l {0}

    env:
      COLUMNS: 120

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.

      - name: Restore cached pixi lockfile
        uses: Parcels-code/pixi-lock/restore@9a2866f8258b87a3c616d5ad7d51c6cd853df78b
        with:
          cache-key: ${{ needs.cache-pixi-lock.outputs.cache-key }}

      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: ${{ needs.cache-pixi-lock.outputs.pixi-version }}
          cache: true
          environments: "policy"
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}

      - name: Bare minimum versions policy
        run: |
          pixi run policy-bare-minimum

      - name: Bare minimum and scipy versions policy
        run: |
          pixi run policy-bare-min-and-scipy

      - name: All-deps minimum versions policy
        run: |
          pixi run policy-min-versions
