name: CI Additional
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
  workflow_dispatch: # allows you to trigger manually

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 3
  PIXI_VERSION: "v0.58.0"

jobs:
  detect-ci-trigger:
    name: detect ci trigger
    runs-on: ubuntu-latest
    if: |
      github.repository == 'pydata/xarray'
      && (github.event_name == 'push' || github.event_name == 'pull_request')
    outputs:
      triggered: ${{ steps.detect-trigger.outputs.trigger-found }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 2
      - uses: xarray-contrib/ci-trigger@v1
        id: detect-trigger
        with:
          keyword: "[skip-ci]"
  cache-pixi-lock:
    uses: ./.github/workflows/cache-pixi-lock.yml
    with:
      pixi-version: "v0.58.0" # keep in sync with env var above
  doctest:
    name: Doctests
    runs-on: "ubuntu-latest"
    needs: [detect-ci-trigger, cache-pixi-lock]
    if: needs.detect-ci-trigger.outputs.triggered == 'false'

    defaults:
      run:
        shell: bash -l {0}
    env:
      PIXI_ENV: test-all-deps-py313
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.

      - name: set environment variables
        run: |
          echo "TODAY=$(date  +'%Y-%m-%d')" >> $GITHUB_ENV

      - name: Restore cached pixi lockfile
        uses: actions/cache/restore@v4
        id: restore-pixi-lock
        with:
          enableCrossOsArchive: true
          path: |
            pixi.lock
          key: ${{ needs.cache-pixi-lock.outputs.cache-id }}
      - uses: prefix-dev/setup-pixi@v0.9.0
        with:
          pixi-version: ${{ env.PIXI_VERSION }}
          cache: true
          environments: ${{ env.PIXI_ENV }}
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}

      - name: Version info
        run: |
          pixi run -e ${{env.PIXI_ENV}} python xarray/util/print_versions.py
      - name: Run doctests
        run: |
          # Raise an error if there are warnings in the doctests, with `-Werror`.
          # This is a trial; if it presents an problem, feel free to remove.
          # See https://github.com/pydata/xarray/issues/7164 for more info.
          #
          # If dependencies emit warnings we can't do anything about, add ignores to
          # `xarray/tests/__init__.py`.
          pixi run -e ${{env.PIXI_ENV}} python -m pytest --doctest-modules xarray --ignore xarray/tests -Werror

  mypy:
    name: Mypy
    runs-on: "ubuntu-latest"
    needs: [detect-ci-trigger, cache-pixi-lock]
    defaults:
      run:
        shell: bash -l {0}
    env:
      PIXI_ENV: test-with-typing-py313

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.
      - name: Restore cached pixi lockfile
        uses: actions/cache/restore@v4
        id: restore-pixi-lock
        with:
          enableCrossOsArchive: true
          path: |
            pixi.lock
          key: ${{ needs.cache-pixi-lock.outputs.cache-id }}
      - uses: prefix-dev/setup-pixi@v0.9.0
        with:
          pixi-version: ${{ env.PIXI_VERSION }}
          cache: true
          environments: ${{ env.PIXI_ENV }}
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
      - name: set environment variables
        run: |
          echo "TODAY=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
          echo "PYTHON_VERSION=$(pixi run -e ${{env.PIXI_ENV}} python --version | cut -d' ' -f2 | cut -d. -f1,2)" >> $GITHUB_ENV
      - name: Version info
        run: |
          pixi run -e ${{env.PIXI_ENV}} python xarray/util/print_versions.py

      - name: Run mypy
        run: |
          pixi run -e ${{env.PIXI_ENV}} python -m mypy --install-types --non-interactive --cobertura-xml-report mypy_report

      - name: Upload mypy coverage to Codecov
        uses: codecov/codecov-action@v5.5.1
        with:
          file: mypy_report/cobertura.xml
          flags: mypy
          env_vars: PYTHON_VERSION
          name: codecov-umbrella
          fail_ci_if_error: false

  mypy-min:
    name: Mypy 3.11
    runs-on: "ubuntu-latest"
    needs: [detect-ci-trigger, cache-pixi-lock]
    defaults:
      run:
        shell: bash -l {0}
    env:
      PIXI_ENV: test-with-typing-py311

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.
      - name: Restore cached pixi lockfile
        uses: actions/cache/restore@v4
        id: restore-pixi-lock
        with:
          enableCrossOsArchive: true
          path: |
            pixi.lock
          key: ${{ needs.cache-pixi-lock.outputs.cache-id }}
      - uses: prefix-dev/setup-pixi@v0.9.0
        with:
          pixi-version: ${{ env.PIXI_VERSION }}
          cache: true
          environments: ${{ env.PIXI_ENV }}
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
      - name: set environment variables
        run: |
          echo "TODAY=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
          echo "PYTHON_VERSION=$(pixi run -e ${{env.PIXI_ENV}} python --version | cut -d' ' -f2 | cut -d. -f1,2)" >> $GITHUB_ENV
      - name: Version info
        run: |
          pixi run -e ${{env.PIXI_ENV}} python xarray/util/print_versions.py

      - name: Run mypy
        run: |
          pixi run -e ${{env.PIXI_ENV}} python -m mypy --install-types --non-interactive --cobertura-xml-report mypy_report

      - name: Upload mypy coverage to Codecov
        uses: codecov/codecov-action@v5.5.1
        with:
          file: mypy_report/cobertura.xml
          flags: mypy-min
          env_vars: PYTHON_VERSION
          name: codecov-umbrella
          fail_ci_if_error: false

  pyright:
    name: Pyright
    runs-on: "ubuntu-latest"
    needs: [detect-ci-trigger, cache-pixi-lock]
    if: |
      always()
      && (
          contains( github.event.pull_request.labels.*.name, 'run-pyright')
      )
    defaults:
      run:
        shell: bash -l {0}
    env:
      PIXI_ENV: test-with-typing-py313

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.

      - name: Restore cached pixi lockfile
        uses: actions/cache/restore@v4
        id: restore-pixi-lock
        with:
          enableCrossOsArchive: true
          path: |
            pixi.lock
          key: ${{ needs.cache-pixi-lock.outputs.cache-id }}
      - uses: prefix-dev/setup-pixi@v0.9.0
        with:
          pixi-version: ${{ env.PIXI_VERSION }}
          cache: true
          environments: ${{ env.PIXI_ENV }}
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
      - name: set environment variables
        run: |
          echo "TODAY=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
          echo "PYTHON_VERSION=$(pixi run -e ${{env.PIXI_ENV}} python --version | cut -d' ' -f2 | cut -d. -f1,2)" >> $GITHUB_ENV
      - name: Version info
        run: |
          pixi run -e ${{env.PIXI_ENV}} python xarray/util/print_versions.py

      - name: Run pyright
        run: |
          pixi run -e ${{env.PIXI_ENV}} python -m pyright xarray/

      - name: Upload pyright coverage to Codecov
        uses: codecov/codecov-action@v5.5.1
        with:
          file: pyright_report/cobertura.xml
          flags: pyright
          env_vars: PYTHON_VERSION
          name: codecov-umbrella
          fail_ci_if_error: false

  pyright39:
    name: Pyright 3.11
    runs-on: "ubuntu-latest"
    needs: [detect-ci-trigger, cache-pixi-lock]
    if: |
      always()
      && (
          contains( github.event.pull_request.labels.*.name, 'run-pyright')
      )
    defaults:
      run:
        shell: bash -l {0}
    env:
      PIXI_ENV: test-with-typing-py311

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.
      - name: Restore cached pixi lockfile
        uses: actions/cache/restore@v4
        id: restore-pixi-lock
        with:
          enableCrossOsArchive: true
          path: |
            pixi.lock
          key: ${{ needs.cache-pixi-lock.outputs.cache-id }}
      - uses: prefix-dev/setup-pixi@v0.9.0
        with:
          pixi-version: ${{ env.PIXI_VERSION }}
          cache: true
          environments: ${{ env.PIXI_ENV }}
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
      - name: set environment variables
        run: |
          echo "TODAY=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
          echo "PYTHON_VERSION=$(pixi run -e ${{env.PIXI_ENV}} python --version | cut -d' ' -f2 | cut -d. -f1,2)" >> $GITHUB_ENV
      - name: Version info
        run: |
          pixi run -e ${{env.PIXI_ENV}} python xarray/util/print_versions.py

      - name: Run pyright
        run: |
          pixi run -e ${{env.PIXI_ENV}} python -m pyright xarray/

      - name: Upload pyright coverage to Codecov
        uses: codecov/codecov-action@v5.5.1
        with:
          file: pyright_report/cobertura.xml
          flags: pyright39
          env_vars: PYTHON_VERSION
          name: codecov-umbrella
          fail_ci_if_error: false

  min-version-policy:
    name: Minimum Version Policy
    runs-on: "ubuntu-latest"
    needs: detect-ci-trigger
    # min-version-policy doesn't work with Pixi yet https://github.com/pydata/xarray/pull/10888#discussion_r2504335457
    if: false
    # if: needs.detect-ci-trigger.outputs.triggered == 'false'
    defaults:
      run:
        shell: bash -l {0}

    env:
      COLUMNS: 120

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.

      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: All-deps minimum versions policy
        uses: xarray-contrib/minimum-dependency-versions@e2ac8ff0a76e8603d8536ef5d64743a375961ce9 # v0.1.1
        with:
          policy: ci/policy.yaml
          environment-paths: ci/requirements/min-all-deps.yml

      - name: Bare minimum versions policy
        uses: xarray-contrib/minimum-dependency-versions@e2ac8ff0a76e8603d8536ef5d64743a375961ce9 # v0.1.1
        with:
          policy: ci/policy.yaml
          environment-paths: ci/requirements/bare-minimum.yml
