name: CI Additional
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
  workflow_dispatch: # allows you to trigger manually

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  detect-ci-trigger:
    name: detect ci trigger
    runs-on: ubuntu-latest
    if: |
      github.repository == 'pydata/xarray'
      && (github.event_name == 'push' || github.event_name == 'pull_request')
    outputs:
      triggered: ${{ steps.detect-trigger.outputs.trigger-found }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - uses: xarray-contrib/ci-trigger@v1.1
        id: detect-trigger
        with:
          keyword: "[skip-ci]"

  doctest:
    name: Doctests
    runs-on: "ubuntu-latest"
    needs: detect-ci-trigger
    if: needs.detect-ci-trigger.outputs.triggered == 'false'
    defaults:
      run:
        shell: bash -l {0}

    env:
      CONDA_ENV_FILE: ci/requirements/environment.yml

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.

      - run: |
          echo "TODAY=$(date -s %Y-%m-%d)" >> $GITHUB_ENV

      - name: Setup micromamba
        uses: mamba-org/provision-with-micromamba@de032af7fb3675649f3d4bbdda85178ba412ee41
        with:
          environment-file: ${{env.CONDA_ENV_FILE}}
          environment-name: xarray-tests
          extra-specs: |
            python=3.10
          cache-env: true
          cache-env-key: "${{runner.os}}-${{runner.arch}}-${{env.TODAY}}-${{hashFiles(env.CONDA_ENV_FILE)}}"

      - name: Install xarray
        run: |
          python -m pip install --no-deps -e .
      - name: Version info
        run: |
          conda info -a
          conda list
          python xarray/util/print_versions.py
      - name: Run doctests
        run: |
          python -m pytest --doctest-modules xarray --ignore xarray/tests

  mypy:
    name: Mypy
    runs-on: "ubuntu-latest"
    needs: detect-ci-trigger
    # temporarily skipping due to https://github.com/pydata/xarray/issues/6551
    if: needs.detect-ci-trigger.outputs.triggered == 'false'
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.
      - name: Setup micromamba
        uses: mamba-org/provision-with-micromamba@de032af7fb3675649f3d4bbdda85178ba412ee41
        with:
          environment-file: ci/requirements/environment.yml
          environment-name: xarray-tests
          extra-specs: |
            python=3.10
          cache-env: true
          cache-env-key: ${{runner.os}}-${{runner.arch}} ${{today()}} mypy
      - name: Install xarray
        run: |
          python -m pip install --no-deps -e .
      - name: Version info
        run: |
          conda info -a
          conda list
          python xarray/util/print_versions.py
      - name: Install mypy
        run: |
          python -m pip install mypy

      - name: Run mypy
        run: |
          python -m mypy --install-types --non-interactive

  min-version-policy:
    name: Minimum Version Policy
    runs-on: "ubuntu-latest"
    needs: detect-ci-trigger
    if: needs.detect-ci-trigger.outputs.triggered == 'false'
    defaults:
      run:
        shell: bash -l {0}

    strategy:
      matrix:
        environment-file: ["bare-minimum", "min-all-deps"]
      fail-fast: false

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.

      - name: Setup micromamba
        uses: mamba-org/provision-with-micromamba@de032af7fb3675649f3d4bbdda85178ba412ee41
        with:
          environment-name: xarray-tests
          environment-file: false
          extra-specs: |
            python=3.10
            pyyaml
            conda
            python-dateutil
          channels: conda-forge

      - name: minimum versions policy
        run: |
          python ci/min_deps_check.py ci/requirements/${{ matrix.environment-file }}.yml
