name: "PR Labeler"
on:
- pull_request_target

jobs:
  label:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@v4
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        # Workaround for sync-labels bug:
        # https://github.com/actions/labeler/issues/112
        sync-labels: ""
