name: Build and Upload xarray to PyPI
on:
  push:
    branches:
      - 'main'

# no need for concurrency limits

jobs:
  build-artifacts:
    runs-on: ubuntu-latest
    if: github.repository == 'pydata/xarray'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v4
        name: Install Python
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install build twine
          python -m pip install tomli tomli_w

      - name: Disable local versions
        run: |
          python .github/workflows/configure-testpypi-version.py pyproject.toml
          git update-index --assume-unchanged pyproject.toml
          cat pyproject.toml

      - name: Build tarball and wheels
        run: |
          git clean -xdf
          python -m build

      - name: Check built artifacts
        run: |
          python -m twine check --strict dist/*
          if [ -f dist/xarray-0.0.0.tar.gz ]; then
            echo "❌ INVALID VERSION NUMBER"
            exit 1
          else
            echo "✅ Looks good"
          fi

      - uses: actions/upload-artifact@v3
        with:
          name: releases
          path: dist

  test-built-dist:
    needs: build-artifacts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v4
        name: Install Python
        with:
          python-version: "3.10"
      - uses: actions/download-artifact@v3
        with:
          name: releases
          path: dist
      - name: List contents of built dist
        run: |
          ls -ltrh
          ls -ltrh dist

      - name: Verify the built dist/wheel is valid
        if: github.event_name == 'push'
        run: |
          python -m pip install --upgrade pip
          python -m pip install dist/xarray*.whl
          python -m xarray.util.print_versions

      - name: Publish package to TestPyPI
        if: github.event_name == 'push'
        uses: pypa/gh-action-pypi-publish@v1.5.1
        with:
          user: __token__
          password: ${{ secrets.TESTPYPI_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
          verbose: true
